<!-- Tabs header -->

<div class="b-light">
    <div class="container d-flex justify-content-between align-content-center">
        <ul class="nav nav-pills" id="tabs-widget" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="description-tab" data-bs-toggle="pill" data-bs-target="#description"
                    type="button" role="tab" aria-controls="description" aria-selected="true">Description</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="discussion-tab" data-bs-toggle="pill" data-bs-target="#discussion"
                    type="button" role="tab" aria-controls="discussion" aria-selected="false">Discussion</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="solutions-tab" data-bs-toggle="pill" data-bs-target="#solutions"
                    type="button" role="tab" aria-controls="solutions" aria-selected="false">Solutions</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="submission-tab" data-bs-toggle="pill" data-bs-target="#submission"
                    type="button" role="tab" aria-controls="submission" aria-selected="false">Submission</button>
            </li>
        </ul>
    </div>
</div>
<hr>

<!-- Tabs Data -->
<div class="tab-content">
    <!-- Description content -->
    <div class="tab-pane show active" id="description" role="tabpanel" aria-labelledby="description-tab">
        <div class="row">
            <div class="col-1 mr-1">
                <!-- Question ID -->
                <p>1</p>
            </div>
            <div class="col-4">
                <!-- Question title -->
                <p>Two Sum</p>
            </div>
        </div>
        <div class="row d-flex justify-content-start mb-3">
            <div class="col-2 tag-icon">
                <p class="mr-1">Easy</p>
            </div>
            <div class="col-1">
                <i class="fa-regular fa-thumbs-up fs-5 cursor-pointer"></i>
            </div>
            <div class="col-1">
                <i class="fa-regular fa-thumbs-down fs-5 cursor-pointer"></i>
            </div>
        </div>
        <div class="row bg-light">
            <!-- Question Statement -->
            <p>
                Given array of integers <strong>nums</strong> and an integer <strong>target</strong>, return the two indices whose sum is equal to the <small>target.</small><br><br>
                You may assume each input have exactly one unique solution, and you may not use the same element twice. <br><br>
                You can return the answer in any order. <br><br>
                <code>
                    Input: nums = [1,2,3,4,5]  k = 5 <br>
                    Output: 4
                </code>
            </p>
        </div>
    </div>
    <!-- Discussion content -->
    <div class="tab-pane" id="discussion" role="tabpanel" aria-labelledby="discussion-tab">
        
    </div>
    <!-- Solutions content -->
    <div class="tab-pane" id="description" role="tabpanel" aria-labelledby="description-tab">
    </div>
    <!-- Submission content -->
    <div class="tab-pane" id="description" role="tabpanel" aria-labelledby="description-tab">
    </div>
</div>