<form id="coder_form" class="form" method="POST">
    {% csrf_token %}
    <div class="row d-flex justify-content-between">
        <div class="col mb-2">
            <button type="submit" class="btn btn-success my-0">C++</button>
            <button type="submit" class="btn btn-success my-0">Auto</button>
        </div>
        <div class="col">
            <i class="fa-solid fa-thumbs-up text-primary"></i>
            <i class="fa-solid fa-thumbs-down text-primary"></i>
        </div>
    </div>
    <div class="d-flex flex-column">
        <textarea class="form-control" data-editor="twilight" name="program" id="id_program" required></textarea>
    </div>
    <div class="d-flex flex-column bg-light" style="flex-grow: 3;">
        {% include 'code_editor/run_test.html' %}
    </div>
</form>