<div class="b-light">
    <div class="container d-flex justify-content-start align-content-center">
        <ul class="nav nav-pills" id="tabs-widget" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="test_case-tab" data-bs-toggle="pill" data-bs-target="#test_case"
                    type="button" role="tab" aria-controls="test_case" aria-selected="true">Test Case</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="test_result-tab" data-bs-toggle="pill" data-bs-target="#test_result"
                    type="button" role="tab" aria-controls="test_result" aria-selected="false">Result</button>
            </li>
        </ul>
    </div>
</div>
<hr>