{% extends 'base.html' %}
{% block main %}
    <div class="container mt-5">
        <form action="{% url 'ask' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for=""><h3>Title</h3></label>
                <br><small class="form-text text-muted">Be specific, and give suitable title.</small>
                <input type="text" name="title" id="title" class="form-control" placeholder="Title" value="Custom close button in frameless window (ElectronJS)">
            </div>
            <div class="form-group mt-3">
                <label for=""><h3>Question</h3></label>
                <br><small class="form-text text-muted">Ask question and be specific and describe you problem correctly.</small>
                <input type="text" name="question" id="question" class="form-control form-control-lg" placeholder="Question" value="I created a frameless button, I want to have a close and minimize button, I created a button but how do I make window close after it's clicked? I want the script to be in separated file from index.js as well.">
            </div>
            <div class="form-group mt-3">
                <label for=""><h3>Tags</h3></label>
                <br><small class="form-text text-muted">Suitble tags for question which describe the question in sort.</small>
                <input type="text" name="tags" id="tags" class="form-control form-control-lg" value="python3,ElectronJS">
            </div>
            <input type="submit" class="btn btn-outline-primary mt-3" value="Review Question">
        </form>
    </div>
{% endblock %}