{% extends 'base.html' %}
{% block main %}
<style>
    .tag-icon {
        padding: 5px 10px;
        background: #0d6efd;
        margin: 2px;
        border-radius: 6px;
    }

    .tag-icon p {
        font-size: 11px;
        color: white;
        margin: 0;
    }
</style>
<div class="container">
    {% include 'assist/ask_question_temp.html' %}

    {% for ques in questions %}
    <div class="row mb-3 p-2 rounded-3" style="background: #eee;">
        <div class="col-10">
            <div class="d-flex">
                <small class="me-3">{{ ques.getVoteCount }} votes</small>
                <small>{{ ques.getAnswersCount }} ans</small>
            </div>
            <a href="{% url 'question' ques.getId %}" class="text-decoration-none mb-2">{{ ques.getTitle | title }}</a>
            <p class="text-secondary mb-2 small">{{ ques.getText }}</p>
            <div class="d-flex">
                {% for tag in ques.getTags %}
                <div class="tag-icon">
                    <p>{{ tag | title }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-2">
            <a href="{% url 'profile' ques.getCreator.getId %}" class="btn btn-outline-primary btn-sm px-3">
                {{ ques.getCreator.getName }}</a> <br>
            <small>{{ ques.pretty_date }} </small>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}