{% extends 'base.html' %}
{% block main %}
<div class="container">
    {% include 'assist/ask_question_temp.html' %}

    <h2>{{ question.title }}</h2>
    <div class="row">
        <div class="col text-secondary"><small>Asked {{ question.entity.creationDateTime | timesince }} ago</small>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-2">
            {{ question.views }}
        </div>
        <div class="col-10">
            {{ question.entity.text | safe }}
        </div>
    </div>

    <form action="{% url 'comment' question.id %}" method="POST">
        {% csrf_token %}
        <div class="mt-5" style="max-height: 200px;">
            <textarea name="comment" id="comment" height="100px"></textarea>
            <div class="d-flex justify-content-end my-3">
                <input type="submit" class="btn btn-outline-primary" value="Comment">
            </div>
        </div>
    </form>

    <form action="{% url 'answer' question.id %}" method="POST">
        {% csrf_token %}
        <div class="mt-5">
            <textarea name="answer" id="answer" cols="30" rows="5"></textarea>
            <div class="d-flex justify-content-end my-3">
                <input type="submit" class="form-control btn btn-outline-primary" value="Answer">
            </div>
        </div>
    </form>

    {% for cmnt in question.getComments %}
    <div class="row">
        <h3>Comment</h3>
        <div class="col-2">
            <a href="{% url 'profile' cmnt.entity.creator.id %}" class="btn btn-outline-primary btn-sm px-3">
                {{ cmnt.entity.creator.username }}</a>
            <small>{{ cmnt.entity.creationDateTime | timesince }} ago</small>
        </div>
        <div class="col-10">
            <p>{{ cmnt.entity.text | safe }}</p>
        </div>
    </div>
    <hr>
    {% endfor %}


    {% for ans in question.getAnswers %}
    <div class="row">
        <h3>Answer</h3>
        <div class="col-2">
            <a href="{% url 'profile' ans.entity.creator.id %}" class="btn btn-outline-primary btn-sm px-3">
                {{ ans.entity.creator.username }}</a>
            <small>{{ ans.entity.creationDateTime | timesince }} ago</small>
        </div>
        <div class="col-10">
            <p>{{ ans.entity.text | safe }}</p>
        </div>
    </div>
    <hr>
    {% endfor %}


</div>
{% load static %}
<script src="{% static 'js/WYSIWYG.js' %}"></script>
{% endblock %}