{% extends 'base.html' %}
{% block main %}

<div class="container">
    {% include 'assist/ask_question_temp.html' %}

    <!-- Tabs  -->
    <div class="b-light">
        <div class="container d-flex justify-content-between align-content-center">
            <ul class="nav nav-pills" id="tabs-widget" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="recent-tab" data-bs-toggle="pill" data-bs-target="#recent"
                        type="button" role="tab" aria-controls="recent" aria-selected="true">Recent</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="most_viewed-tab" data-bs-toggle="pill" data-bs-target="#most_voted"
                        type="button" role="tab" aria-controls="most_voted" aria-selected="false">Most viewed</button>
                </li>
            </ul>
        </div>
    </div>
    <hr>

    <!-- Tabs Data -->
    <div class="tab-content">
        <div class="tab-pane show active" id="recent" role="tabpanel" aria-labelledby="recent-tab">
            {% for ques in questions.recently_created_list %}
            <div class="row mb-3 p-2 rounded-3" style="background: #eee;">
                <div class="col-10">
                    <div class="d-flex">
                        <small class="me-3">{{ ques.views }} views</small>
                        <!-- <small>{{ ques.getAnswersCount  ans</small> -->
                    </div>
                    <a href="{% url 'question' ques.id %}" 
                        class="text-decoration-none mb-2">{{ ques.title | title }}</a>
                    <p class="text-secondary mb-2 small">{{ ques.entity.text | safe }}</p>
                    <div class="d-flex">
                        {% for t in ques.getTags %}
                        <div class="tag-icon">
                            <p>{{ t.tag }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-2">
                    <a href="{% url 'profile' ques.entity.creator.id %}" class="btn btn-outline-primary btn-sm px-3">
                        {{ ques.entity.creator.username }}</a> <br>
                    <small>{{ ques.entity.creationDateTime | timesince }} ago</small>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="tab-pane" id="most_voted" role="tabpanel" aria-labelledby="most_viewed-tab">
            {% for ques in questions.most_views_list %}
            <div class="row mb-3 p-2 rounded-3" style="background: #eee;">
                <div class="col-10">
                    <div class="d-flex">
                        <small class="me-3">{{ ques.views }} views</small>
                    </div>
                    <a href="{% url 'question' ques.id %}" class="text-decoration-none mb-2">{{ ques.title | title }}</a>
                    <p class="text-secondary mb-2 small">{{ ques.entity.text | safe }}</p>
                    <div class="d-flex">
                        {% for t in ques.getTags %}
                        <div class="tag-icon">
                            <p>{{ t.tag }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-2">
                    <a href="{% url 'profile' ques.entity.creator.id %}" class="btn btn-outline-primary btn-sm px-3">
                        {{ ques.entity.creator.username }}</a> <br>
                    <small>{{ ques.entity.creationDateTime | timesince }} ago</small>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}