<header class="container-fluid p-0" style="background:#eee; height: 65px;">
    <div class="container d-flex justify-content-between align-items-center p-2">
        <a href="{% url 'home' %}" class="navbar-brand mr-auto p-2">Stack Overflow</a>
        <form action="" method="POST" class="d-flex justify-content-center align-items-center">
            {% csrf_token %}
            <input type="search" class="form-control form-control-sm me-2"  placeholder="Search Question" aria-label="Search" name="search" id="search">
            <input type="submit" class="btn btn-outline-success btn-sm" value="Search">
        </form>

        <div class="d-flex align-items-center justify-content-center">
            {% if request.user.is_authenticated %}
            <p class="mb-0 text-secondary me-3">{{ request.user }}</p>
            <a href="#" class="btn btn-outline-danger btn-sm">Logout</a>
            {% else %}
            <div class="p-2">
                <a href="#" class="btn btn-outline-primary btn-sm">Login</a>
                <a href="#" class="btn btn-outline-primary btn-sm">SignUp</a>
            </div>
            {% endif %}
        </div>
    </div>
</header>